<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTM_Registros.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FTM_Registros.My.MySettings.Base_de_datos_1_4_beConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;S:\Base de datos\Base\Base de datos 1.4_be.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="FTM_Registros.My.MySettings.Ventas_1_5ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;S:\Base de datos\Ventas\Ventas 1.5.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="FTM_Registros.My.MySettings.Cotizaciones_1_4ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;S:\Base de datos\Cotizaciones\Cotizaciones 1.4.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="FTM_Registros.My.MySettings.Manufactura_1_5ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;S:\Base de datos\Manufactura\Manufactura 1.5.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="FTM_Registros.My.MySettings.AlmacenConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;S:\Base de datos\Almacén\Almacen.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.windows.forms jitDebugging="true" />
  <userSettings>
    <FTM_Registros.My.MySettings>
      <setting name="CarpetaLocal" serializeAs="String">
        <value />
      </setting>
    </FTM_Registros.My.MySettings>
  </userSettings>
</configuration>